<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <h2><span>Home</span> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h2>
        </nav>
    </header>
    <div class="indexContent container">
        <h1 class="d-flex justify-content-center">About Me</h1>
        <div class="about-me-section d-flex">
            <div class="self-image d-flex flex-column align-items-center">
                <img src="~/images/gigachad.jpg" alt="picture of me">
                <h3>Nathan Prater</h3>
                <h3>I so hawt!</h3>
            </div>
            <div class="self-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus odit maxime minus laudantium quas numquam, eius ex veniam ducimus minima, architecto porro ipsam repellat excepturi, nihil voluptates. Quidem, quos quibusdam!
                Eveniet eos ratione, inventore praesentium atque debitis maiores sed reprehenderit eum laborum? Veritatis, sapiente distinctio magnam quisquam ab quas, pariatur delectus esse quo vero perspiciatis accusamus repudiandae. Aspernatur, repellendus animi.
                Error, quasi! Vero, facilis! Dolor autem atque magni architecto officiis eligendi modi provident, quo ducimus voluptas maxime soluta laudantium eum quibusdam deserunt itaque obcaecati nobis doloremque facilis. In, ipsam alias.
                Maxime sapiente doloremque nesciunt quia, numquam debitis earum harum consequuntur ullam necessitatibus? Rem sapiente dolor debitis fugit labore provident ea ad officiis, a sed aperiam, repellat molestiae, nobis voluptatibus iusto?
                Aliquid voluptatum magni iusto autem ullam maiores quam! Consequatur inventore voluptas autem voluptate sed nobis sequi assumenda reiciendis quas ducimus et, eius distinctio corrupti commodi qui odit! Pariatur, eum soluta?
                Placeat sequi perferendis neque officiis sed, corporis recusandae vel maiores, reiciendis quis iusto enim accusamus expedita. Aperiam expedita assumenda nisi, nihil omnis culpa laborum mollitia aspernatur in quis sint nam!
                Soluta iure reiciendis, vero architecto sunt vel inventore neque, nam explicabo dolor quae repellat! Nulla temporibus minima impedit dolore, quibusdam repudiandae modi inventore minus excepturi quam aliquid at quis odio!
                Repellendus, officiis veniam beatae qui similique, eaque mollitia obcaecati quas expedita deleniti exercitationem accusamus reiciendis aliquam! Quas vel vero dolores cupiditate unde voluptas ad. Alias provident ducimus laboriosam reprehenderit nesciunt.
                Dolor quis ipsum saepe, natus exercitationem doloremque, distinctio voluptatibus excepturi, similique vitae iusto expedita aspernatur fuga ipsa deserunt ex voluptatem repudiandae amet? Voluptas eos accusamus similique voluptate ab ad ex!
                Mollitia eius, rem blanditiis sapiente, repudiandae eaque asperiores culpa magnam laborum voluptas at alias, nihil fugit nam! Reiciendis minus vitae, mollitia error quia et natus repudiandae perspiciatis quaerat rem suscipit!</p>
            </div>
        </div>
    </div>
</body>
</html>