@model IndexViewModel

@{
    ViewData["Title"] = "Login/Register";
}

<div class="d-flex w-100 justify-content-between">
    <div class="d-flex flex-column align-items-center">
        <h1 class="mb-3">Register</h1>
        <partial name="RegUserForm">
    </div>
    <div class="d-flex flex-column align-items-center">
        <h1 class="mb-3">Login</h1>
        <partial name="LogUserForm">
    </div>
</div>