<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Dojo Survey! | Results</title>
</head>
<body>
    <div class="container mt-5">
        <div class="border rounded p-5 w-75 m-auto">
            <div class="row">
                <h2 class="mb-5"><u>Submitted Info</u></h2>
                <div class="container w-75">
                    <div class="row mb-3">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto"><h3>Name:</h3></div>
                            <div class="col-auto"><h3>@ViewBag.Name</h3></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto"><h3>Location:</h3></div>
                            <div class="col-auto"><h3>@ViewBag.Location</h3></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto"><h3>Favorite Language:</h3></div>
                            <div class="col-auto"><h3>@ViewBag.FaveLanguage</h3></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row d-flex justify-content-between">
                            <div class="col-auto"><h3>Comment:</h3></div>
                            <div class="col-auto"><h3>@ViewBag.Comment</h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>