@{
    ViewData["Title"] = "Home Page";
}

@model Quote

<div class="d-flex flex-column align-items-center mt-5">
    <h1 class="display-4 mb-5">Welcome to QuotingDojo!</h1>
    <form asp-action="SubmitQuote" asp-controller="Home" method="post" class="w-50">
        <div class="form-group row mb-3">
            <div class="row">
                <label class="col-2 col-form-label" asp-for="name">Name:</label>
                <div class="col-10">
                    <input class="form-control" asp-for="name">
                </div>
            </div>
            <div class="row">
                <small><span class="text-danger" asp-validation-for="name"></span></small>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="row">
                <label class="col-2 col-form-label" asp-for="quote">Quote:</label>
                <div class="col-10">
                    <textarea class="form-control" style="resize: none;" name="quote" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <small><span class="text-danger" asp-validation-for="quote"></span></small>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="Add my quote!">
            <a class="btn btn-primary" href="quotes">Skip to Quotes!</a>
        </div>
    </form>
</div>
