@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center mt-5">
    <h1 class="mb-5">Here are all of the Dojo Quotes!</h1>
    @{
        if(ViewBag.Quotes.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quote</th>
                        <th scope="col">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(var quote in ViewBag.Quotes)
                            {
                                <tr>
                                    <td>@quote["name"]</td>
                                    <td>@quote["quote"]</td>
                                    <td>@quote["created_at"]</td>
                                </tr>
                            }
                    }
                </tbody>
            </table>
        }
        else
        {
            <img src="https://i.imgflip.com/6j8x0v.jpg" title="made at imgflip.com"/>
        }
    }
</div>