@model User

@{
    ViewData["Title"] = "Register User";
}

<div>
    <h1 class="display-4">Enter your information</h1>
    <form asp-action="Register" asp-controller="User" method="post">
        <div class="row mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
            <span style="color: red;" asp-validation-for="FirstName"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
            <span style="color: red;" asp-validation-for="LastName"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age">
            <span style="color: red;" asp-validation-for="Age"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email">
            <span style="color: red;" asp-validation-for="Email"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password">
            <span style="color: red;" asp-validation-for="Password"></span>
        </div>
        <input value="Register User" type="submit">
    </form>
</div>
