@{
    ViewData["Title"] = "DojoDachi!";
}

<div class="m-auto w-75 d-flex flex-column align-items-center mt-5">
    <h4>Fullness: <span id="fullness"></span> | Happiness: <span id="happiness"></span> | Meals: <span id="meals"></span> | Energy: <span id="energy"></span></h4>
    <div class="d-flex flex-column border p-5 align-items-center mb-3">
        <img id="mood" class="img-fluid" src="~/images/happy.png" alt="">
        <p id="message" class="text-center">This is Dojodachi! Click a button below to start!</p>
    </div>
    <div class="d-flex justify-content-evenly w-100">
        <button class="btn btn-primary" id="feed">Feed</button>
        <button class="btn btn-primary" id="play">Play</button>
        <button class="btn btn-primary" id="work">Work</button>
        <button class="btn btn-primary" id="sleep">Sleep</button>
        <button class="btn btn-danger" id="restart">Restart</button>
    </div>
</div>
