@{
    ViewData["Title"] = "Dojo Survey";
}

<div class="border rounded p-5 w-75 m-auto">
    <form action="result" method="post" class="w-100 d-flex flex-column">
        <div class="mb-3 row d-flex justify-content-between">
            <label class="col-6 col-form-label">Your Name:</label>
            <div class="col-6">
                <input class="form-control" type="text" name="Name" id="name">
            </div>
        </div>
        <div class="mb-3 row d-flex justify-content-between">
            <label class="col-6 col-form-label">Dojo Location:</label>
            <div class="col-6">
                <select class="form-select" name="Location">
                    <option selected disabled hidden>Choose a Location</option>
                    <option value="Bellevue, WA">Bellevue, WA</option>
                    <option value="Chicago, IL">Chicago, IL</option>
                    <option value="Los Angeles, CA">Los Angeles, CA</option>
                    <option value="Silicon Valley, CA">Silicon Valley, CA</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row d-flex justify-content-between">
            <label class="col-6 col-form-label">Favorite Language:</label>
            <div class="col-6">
                <select class="form-select" name="FaveLanguage">
                    <option selected disabled hidden>Choose a Language</option>
                    <option value="C#">C#</option>
                    <option value="MERN">MERN</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row d-flex justify-content-between">
            <label class="form-label">Comment:</label>
            <textarea class="form-control" name="Comment" rows=5></textarea>
        </div>
        <div class="align-self-end">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
